.hidden
{
	display: none;
}

body
{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.container
{
	width: 1080px;
	margin: 0 auto;
	align-content: center;
	background-color: #333;
}

.mainHeader
{
	width: 100%;
	height: 225px;
}

.logoHeader
{
	width: 200px;
	display: block;
	align-content: center;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.main-headline
{
	text-align: center;
	margin: 20px 0 30px;
	font-size: 2.5rem;
}

.icon
{
	display: flex;
	flex-direction: row;
}

.iconDisplay
{
	width: 20%;
	min-width: 155px;
	max-width: 375px;
	padding: 20px;
	align-self: center;
}

.iconDisplay h3
{
	text-align: center;
	padding-top: 10px;
}

.imageContainer
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.imageContainer:hover
{
	opacity: 0.25;
	cursor: pointer;
}

.heroName
{
	text-align: center;
}